/*
Adding a high score screen to 2048
Author: Ben Connick
*/

@keyframes victoryDance {
	0% {transform: rotate(0deg);}
	80% {transform: rotate(1080deg);}
	90% {transform: scale(1,1)}
	100% {transform: scale(1.2,1.2);}
}

@keyframes nameZoom {
	0% { transform: scale(1,1); color: #f2b179; }
	20% { transform: scale(10,10); color: #f2b179; }
	100% { transform: scale(1,1); color: #eee4da; }
}

h1.title {
	font-sizE: 50px;
}

.best-container {
	padding: 15px 60px;
}

.best-container:after {
	content: attr(text);
}

.best-container.changed:after {
  animation: nameZoom 1s;
}

.game-container .game-message {
	background-color: rgba(238, 228, 218, 0.8);
}  
  
.game-message .new-high-score-message {
	display: none;
}

.game-message.high-score-got .new-high-score-message {
	display: inline-block;
}

.game-container .game-message .result {
	position: relative;
	top: 15px;
	margin-top: 0px;
	margin-bottom: 100px;
	font-size: 36px;
}

.game-container .game-message .spin {
	font-size: 38px;
	position: relative;
	animation-name: victoryDance;
	animation-timing-function: cubic-bezier(1,1.52,.75,.84);
	animation-delay: 0.95s;
	animation-duration: 1.25s;
	animation-fill-mode: forwards;
	font-weight: bold;
	margin-top: 100px;
	margin-bottom: 20px;
}

.reset-container {
  position: relative;
  top: 8px;
  display: inline-block;
  background: #8f7a66;
  padding: 15px 40px;
  font-size: 25px;
  height: 25px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  text-align: center; 
  margin-top: 8px;
}

.reset-container button {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0);
	border: none;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	color: white;
	font-size: 18px;
	font-weight: 600;
}

.game-container .game-message {
    display: none;
}

.name-button {
  display: inline-block;
  background: #8f7a66;
  height: 28px;
  width: 42px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center; 
  border: none;
  border-radius: 3px;
}

.high-score-name {
	display: inline-block;
	width: 200px;
	height: 24px;
	border: 2px solid #8f7a66;
	border-radius: 3px;
}

.cheat-button {
	/*display: none;*/
	position: fixed;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
}

.heading { 
	margin-bottom: 10px;
}

@media screen and (max-width: 520px) {
	.game-container .game-message .spin {
		font-size: 18px;
		margin-top: 25px;
		margin-bottom: 15px;
	}
	.game-container .game-message p.result {
		top: 0px;
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 20px;
	}
	.game-container .game-message .lower {
		margin-top: 10px;
	}
	.best-container {
		padding: 15px 42px;
	}
}

